body {
    background-image: url("https://cdn.wallpapersafari.com/61/75/Ymx59h.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes popup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    background: white;
    background-color: rgba(242, 242, 247, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: popup 3s ease-in-out;
}

h1 {
    margin-bottom: 20px;
}
h3{
    font-weight: lighter;
    font-size: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#taskInput, #dueDateInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#addTaskButton {
    padding: 10px 20px;
    border: none;
    background-color: #6d8cf5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
}


#addTaskButton:hover {
    background-color: #1b27cc;
    box-shadow: 0px 0px 10px rgba(5,197,245,0.5);
    transform: scale(1.1);

}
#addTaskButton:active{
    transform: scale(1);
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #f17171;
    display: flex;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    
}

li.completed {
    text-decoration: line-through;
    color: #221f1f;
    cursor: pointer;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #c82333;
}

.task-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.span{
    font-size: smaller;
}